# 应用配置
DEBUG=True
APP_NAME=斩词阁
CONTAINER_SCAN_PACKAGES=["framework", "*.application","*.domain"]
ROUTER_SCAN_PACKAGES=["*.controller","framework.monitor"]

# 日志配置
LOG_LEVEL=INFO
LOG_DIR=../logs
LOG_FILE=app.log
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5

# CORS配置 - 注意这些必须是有效的JSON字符串格式
CORS_ORIGINS=["http://192.168.0.101:3000", "http://192.168.0.101:8080"]
# CORS_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_METHODS=["GET","POST","PUT","DELETE"]
CORS_ALLOW_HEADERS=["Content-Type","Authorization"]

# 数据库配置
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=zcg
DB_PASSWORD=zcg
SQL_ECHO=False

# JWT 配置
JWT_SECRET_KEY=your_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440
JWT_WHITE_LIST=["/api/v1/auth/login","/api/v1/hc/health","/docs","/redoc","/api/v1/word_init/"]  

# 业务配置
DICTIONARY_PATH=/xxx/xxx
DIFY_API_KEY={"DIFY_API_KEY_FOR_PARSE_PICTURE":"app-6SZBkB5CGy9Ce5YGMrfQYlct","DIFY_API_KEY_FOR_PHRASE":"app-JLwYBRoP9ZHfQdEODhPP2jHr","DIFY_API_KEY_FOR_PROVERB":"app-mR8Larr0hd2n0lda2IaZUWXD"}
DIFY_API_URL=http://115.190.102.163/v1
DIFY_USER=zhenkm0507
NLTK_DATA_DIR=~/nltk_data

