.breadcrumb {
  margin-bottom: 16px;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
} 